﻿@model ForumProject.ViewModels.Community.CommunityDetailsViewModel

<div class="about-community">
    <span class="about">About community</span>
    <span class="community-title">@Model.Community.Title</span>
    <span>@Model.Community.Description</span>
</div>

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Post" asp-action="Create" asp-route-communityId="@Model.Community.Id" class="btn btn-info">
        CREATE POST
    </a>
    <a class="create-survey" asp-controller="Survey" asp-action="Create" asp-route-communityId="@Model.Community.Id">
        CREATE POST WITH SURVEY
    </a>
}
else
{
    <p style="color: red;">You have to login to create post on community!</p>
}

<div class="post-list">
    @if (@Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            @if(post.SurveyId == null)
            {
                <a class="post-item" target="_blank" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">
                    <span class="title">@post.Title</span>
                    <span>Posted by @post.AuthorName</span>
                    <span>@post.CommentsCount Comments</span>
                </a>
            }
            else
            {
                <a class="post-item" target="_blank" asp-controller="Survey" asp-action="Details" asp-route-surveyId="@post.SurveyId">
                    <span class="title">@post.Title</span>
                    <span>Posted by @post.AuthorName</span>
                    <span>@post.CommentsCount Comments</span>
                </a>
            }
        }
    }
    else
    {
    <h3>There are no posts yet!</h3>
    }
</div>