﻿
   <form id="surveyVoteForm" method="post" asp-controller="Survey" asp-action="Update">
       <input type="hidden" name="SurveyId" value="@ViewData["SurveyId"]" id="surveyId">
        @{
            var counter = 0;
            foreach (var question in Model)
            {
               <div class="question-with-options">
                   <span class="question-text">@question.Text</span>
                   <input type="hidden" name="Answers[@counter].QuestionId" value="@question.QuestionId">
                   @foreach (var answer in question.Answers)
                    {
                   <div class="answer">
                       <label>
                           <input type="radio" name="Answers[@counter].AnswerId" id="@answer.AnswerId" value="@answer.AnswerId">
                           @answer.Text
                       </label>
                   </div>
                    }
               </div>
                counter++;
            }
        }

        <button id="vote" class="vote">Vote</button>
   </form>

