﻿
@foreach (var question in Model.Questions)
{
    <div class="question-with-options">
        <span class="question-text">@question.Text</span>

        @foreach (var answer in question.Answers)
        {
            <div class="answer">
                <span>@answer.Text</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@answer.VotePercentage" aria-valuemax="100" style="width:@answer.VotePercentage%">
                        @answer.VotePercentage%
                    </div>
                </div>
            </div>
        }
    </div>
}

<span class="result">@Model.ParticipantCount votes Final results</span>
