﻿@model DAL.DTOs.SurveyCreateDTO

<div class="wrapper">
    <div class="post-with-survey">
        <form method="post" id="surveyForm" asp-controller="Survey" asp-action="Create">
            <div class="post">
                <div class="form-field">
                    <label>Title</label>
                    <input asp-for="Title" type="text" class="field">
                </div>
                <div class="form-field">
                    <label>Description</label>
                    <textarea asp-for="Description" class="field"></textarea>
                </div>
            </div>
            <div class="survey">
                <input type="hidden" asp-for="CommunityId" value="@ViewData["CommunityId"]">
                <input type="hidden" asp-for="AuthorId" value="@ViewData["AuthorId"]">
                <button id="save">Save</button>
            </div>
        </form>
    </div>
    <div class="tooltip-wrapper">
        <span class="add-question material-icons">
            add_circle_outline
        </span>
        <span class="tooltiptext">Add question</span>
    </div>
</div>
<div class="popup">
    Post with survey is added
</div>
<script src="~/js/create-survey.js"></script>

