﻿@model BLL.DTOs.SurveyWithResultsForUserDTO

<div class="post-details">
    <div class="post-description">
        <span class="post-title">@Model.Title</span>
        <div>@Model.Description</div>
    </div>
    <div class="survey-with-results">
        @if (Model.CanUserParticipate)
        {
            @await Html.PartialAsync("_SurveyVotePartial", Model.Questions, new ViewDataDictionary(ViewData)
                                                                           {
                                                                                { "SurveyId", Model.SurveyId }
                                                                           });
        }
        else
        {
            @await Html.PartialAsync("_SurveyResultsPartial", Model);
        }
    </div>
</div>
<div class="popup">
    Thanks for participating in a survey!
</div>

<script src="~/js/vote-survey.js"></script>

