﻿@model ForumProject.ViewModels.CategoryCreateVM

<h1>Create category for communities</h1>

<div class="col-md-4">
    <form method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">Create</button>
    </form>
</div>