﻿.post-item {
    display: block;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 7px;
    color: #A9A9A9;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 2px;
}

.post-item:hover {
    border-color: #663399;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.post-item > span {
    display: block;
}

.post-item .title {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.post-list {
    display: flex;
    flex-direction: column;
}
.about-community {
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    border-radius: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 5px;
}

.about-community span {
    margin: 10px;
}

.community-title {
    font-size: larger;
}

.about-community .about {
    background-color: #7B68EE;
    color: white;
    margin: 0;
    padding: 8px;
}