﻿.survey-with-results {
   position: relative;
   left: 10px;
}
.question-with-options {
    border: solid 1px #D3D3D3;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
    width: 50%;
}

.question-text {
    font-size: larger;
    margin: 5px;
    padding: 5px;
}

.progress {
    margin-bottom: 5px;
}

.answer {
    margin: 5px;
    padding: 5px;
}

.post-description {
    font-family: sans-serif;
    border: solid 1px #D3D3D3;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    padding-bottom: 10px;
}

.post-title {
    display: block;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

.result {
    display: block;
    border: solid 1px #D3D3D3;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
    width: 50%;
    color: darkgray;
}

.vote {
    font-family: sans-serif;
    background-color: #6495ED;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 12px;
}

.vote:hover {
    background-color: #4169E1;
}
