﻿.post-with-survey {
    width: 60%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    .post-with-survey {
        width: 100%;
    }
}

.post {
    border-style: solid;
    border-color: #9400D3 #c0c3cc #c0c3cc #c0c3cc;
    border-width: 10px 1px 1px 1px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.form-field {
    margin: 3px;
    padding: 5px;
}

.form-field input, textarea {
     width: 100%;
     border: 0;
     border-bottom: 2px solid #9b9b9b;
     outline: 0;
     padding: 3px 3px;
     margin: 2px;
}

.form-field input:focus {
     border-bottom: 3px solid #9400D3;
}

.form-field textarea:focus {
     border-bottom: 3px solid #9400D3;
}

.survey {
    height: auto;
    text-align: center;
}

.question {
    border: 1px solid #c0c3cc;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    text-align: initial;
}

.option-list {
    list-style-type: none;
}

.option {
    display: flex;
}

.close {
    cursor: pointer;
}

.add-option {
    margin: 2px;
    width: 100%;
    background-color: white;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    color: grey;
    text-align: left;
}

.add-option:focus {
    outline: 0;
    border-bottom: 3px solid #9400D3;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    margin: 2px;
    font-size: 12px;
}

.tooltip-wrapper {
    display: flex;
}

.tooltip-wrapper:hover .tooltiptext {
    visibility: visible;
}

.delete-question {
    margin: 7px;
}

#save {
    border: solid 2px #9400D3;
    background-color: #9400D3;
    color: white;
    border-radius: 3px;
    padding: 5px 30px;
    margin: 5px;
}

.save:hover {
    background-color: #6E13BE;
}

.popup {
    background-color: #9B0B97;
    color: white;
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 20px;
    margin: 5px;
    display: none;
}

.create-survey {
    display: inline-block;
    padding: 10px 10px;
    color: white;
    background-color: #8513E8;
    border-style: solid;
    border-radius: 7px;
}

.create-survey:hover {
    text-decoration: none;
    color: white;
    outline: none;
    background-color: #4B0082;
    }
